# Titre

![lien](https://cdn.britannica.com/s:800x1000/94/152294-050-92FE0C83/Arabian-dromedary-camel.jpg)

1. list
1. list

In [2]:
import pandas as pd

In [6]:
apples  = pd.Series(data=[1, 2, 3], index=["id1", "id2", "id3"])
oranges = pd.Series(data=[4, 5, 6], index=["id1", "id2", "id3"])
d = {
    "apples": apples,
    "oranges": oranges,
}
e = pd.DataFrame(d)

In [7]:
e.head()

     apples  oranges
id1       1        4
id2       2        5
id3       3        6

In [9]:
e.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, id1 to id3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   apples   3 non-null      int64
 1   oranges  3 non-null      int64
dtypes: int64(2)
memory usage: 72.0+ bytes

In [ ]:
e.info