In [ ]:
# Florent Martin

# Setup & Git

### ðŸ¤” What is a virtualenv and why is it useful?

Your answer here:

C'est une partition sur notre ordinateur oÃ¹ l'on peut choisir les packages Ã  installer afin que tous les participants de la formation (ou collÃ¨gues sur un projet) puisse avoir des machines virtuellement identiques.

### ðŸ¤”  How do you install a new python package? How can you later use it in your code?

Your answer here:

La commande est pip install package (Python Installation Program?). Ensuite il faut importer avec "import package" ou "from package import xx".

### ðŸ¤” What are the `git` commands to use to submit new code to a central repository on GitHub? Explain each step in your own words.

Your answer here:

git add, commit, push.
Git add avec nom des fichiers permet de dÃ©finir le contenu de ce que l'on va soumettre (possibilitÃ© de faire git status avant)
Git commit -m"message" permet une "sauvegarde locale" des fichiers sus-mentionnÃ©s.
Git push origin master permet de charger ces fichiers sur GitHub

### ðŸ¤”  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

Your answer here:

cd .. permet de remonter d'un directory dans l'arborescence, titda permet d'aller au home directory dÃ©fini dans les variables d'environnement

# Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [7]:
numbers = [-2, "2", 7, '-3']
numbers_count = len(numbers)
numbers.append(5)
numbers.remove(7)

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [9]:
positive_numbers = []
for number in numbers:
    if int(number) > 0:
        positive_numbers.append(int(number))
positive_numbers

[2, 5]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [15]:
def positive_number(list):
    sum = 0
    for number in list:
        if int(number) > 0:
            sum += int(number)
    return sum

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [18]:
positive_sum = positive_number(numbers)

In [19]:
# the cell should output True
positive_sum == 7

True

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

In [25]:
import requests
url = 'https://opengraph.lewagon.com/?url=https://www.lewagon.com'
response = requests.get(url)
data = response.json()

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [28]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

In [39]:
lc_uppercase_fruits = [fruit.upper() for fruit in fruits if fruit[0] < 'n']

In [40]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

True

# SQL

### ðŸ¤” What software can you use to perform some SQL queries?

Your answer here:

One of them is Dbeaver

### ðŸ¤” How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

Your answer here:

SELECT if used first, then the names of certain columns of a given table (or * for all) then FROM with the name of the table
ex: Select usertable.user from usertable

### ðŸ¤” What is the difference between the INNER JOIN and LEFT JOIN?

Your answer here:

Inner join provides an intersection between two tables on a given key (lines where both columns have the key with corresponding values), left join will keep all the lines from the first table, and only the lines from the second table with corresponding key values).

# Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check how many elements it has.

In [45]:
import numpy as np
A = np.array([[1,2],[3,4]])
A.size

4

### Using the same array `A`  check for the `max` elements in its rows.

In [48]:
# np.amax(A, axis = 1)
A.max()

4

### Given the array B, select the third column of it (including all the rows). Store it in a `selection` variable.

In [50]:
B = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
selection = B[:,3]

### Using vectorial computation rewrite the loop below so that you get an array of summed rows  as result. Store it in `vectorial_sum` variable.

In [52]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

[11, 4, 11, 5, 10, 13, 8, 12]

In [55]:
C = np.array(my_list)
sums = C[:,0] + C[:,1]
sums

array([11,  4, 11,  5, 10, 13,  8, 12])

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [78]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [79]:
# type(tips) -> it is a dataframe
# Can be explored with .head(), .shape, .info(), .describe()

###  How do you select the `total_bill` column? ðŸ’²ðŸ’²ðŸ’²

In [83]:
total = tips["total_bill"]
tips.shape

(244, 7)

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [89]:
tips[tips["time"] == 'Dinner'] #176 rows

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

In [90]:
# a_df.join(how='left', on = 'key') , il faut prÃ©ciser la clÃ© sur laquelle on joint oÃ¹ si on joint sur l'index