# Data Preparation

In [13]:
# "magic commands" to enable autoreload of your imported packages
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Our goal is to load all 8 csv as `pandas.DataFrame` in a single dict named `data` where each key is the name of the csv file, and each value the dataframe created from the csv
```python
data = { 
    'sellers': DataFrame1,
    'orders': DataFrame2,
    ...
    }
```

### 1 Create the variable `csv_path`, which stores as a string the path to your csv folder

- When calling `pd.read_csv(csv_path)`, `csv_path` can be absolute or relative
- A relative path always starts with `.` or `..`, while an absolute path starts with `/` 
- A relative path is always computed with respect to your current working directory

In [14]:
# Check your current working directory using `os.getcwd()` below 
import os
os.getcwd()

'/home/florent/code/flo1222/data-challenges/04-Decision-Science/01-Project-Setup/02-Data-Preparation'

☝️ current working directory refers to the absolute path _from which this notebook is being executed_

Create a relative `csv_path`.
Try using [`os.path.join`](https://docs.python.org/3/library/os.path.html), which replaces both Linux syntax (e.g. `../folder_name`) or Windows syntax (e.g. `..//folder_name`) and is therefore more robust

In [17]:
csv_path = '/home/florent/code/flo1222/data-challenges/04-Decision-Science/data/csv'
pd.read_csv(os.path.join(csv_path, 'olist_sellers_dataset.csv')).head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [18]:
# Test your code below
import pandas as pd
pd.read_csv(os.path.join(csv_path, 'olist_sellers_dataset.csv')).head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

### 2 Create the list `file_names` containing all csv file names in the csv directory

- It should look like this `file_names = ['olist_sellers_dataset.csv', ....]`
- You can use `os.listdir()`
- Make sure it only lists csv files!

In [19]:
full_list = os.listdir('/home/florent/code/flo1222/data-challenges/04-Decision-Science/data/csv')
files_names = []
for file in full_list[1:]:
    if 'Identifier' in file:
        continue
    files_names.append(file)
files_names

['olist_sellers_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_customers_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_payments_dataset.csv',
 'product_category_name_translation.csv',
 'olist_products_dataset.csv',
 'olist_geolocation_dataset.csv']

### 3  Create the list of dict key `key_names` 
Starting from file_names and:
- Removing its suffix ".csv" when it exists
- Removing its suffix "_dataset.csv" when it exists
- Removing its prefix "olist_" when it exists

<details>
    <summary>Hint</summary>

`stings` are iterables you can slice with [ ]
</details>

In [20]:
key_names = []
for name in files_names:
    if '_dataset.csv' in name:
        name = name.strip('dataset.csv')[:-1]
    elif '.csv' in name:
        name = name.strip('.csv')
    if 'olist_' in name:
        name = name[6:]
    key_names.append(name)
key_names

['sellers',
 'order_reviews',
 'order_items',
 'customers',
 'orders',
 'order_payments',
 'product_category_name_translation',
 'products',
 'geolocation']

### 4 Construct the dictionnary `data`

```python
data = { 
    'sellers': DataFrame1,
    'orders': DataFrame2,
    'order_items': DataFrame3,
    ...
    }
```

<details>
    <summary>Hint</summary>

The `zip()` method is very usefull to iterate over two lists
```python
for (x, y) in zip(['a','b','c'], [1,2,3]):
    print(x,y)

# returns ('a', 1), ('b', 2), ('c', 3)
    
```
</details>

In [10]:
data = {}
for (x, y) in zip(key_names, files_names):
    data[x] = y
data

{'sellers': 'olist_sellers_dataset.csv',
 'order_reviews': 'olist_order_reviews_dataset.csv',
 'order_items': 'olist_order_items_dataset.csv',
 'customers': 'olist_customers_dataset.csv',
 'orders': 'olist_orders_dataset.csv',
 'order_payments': 'olist_order_payments_dataset.csv',
 'product_category_name_translation': 'product_category_name_translation.csv',
 'products': 'olist_products_dataset.csv',
 'geolocation': 'olist_geolocation_dataset.csv'}

### 5. Implement the method `get_data()` in `olist/data.py`

It should return the dictionary `data` upon calling it as per below

```python
from olist.data import Olist
Olist().get_data()
```
- Take time to understand what happens calling `Olist().get_data()`
- Your method `get_data()` needs to be callable from various places (e.g your Terminal, this notebook, another notebook located elsewhere, etc...)
- You can't use relative path this time as the current working directory `os.getcwd()` depends on where you run the code in the first place

In [12]:
from olist.data import Olist
Olist().get_data()['sellers'].head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

❓This piece of code need to work from anywhere in your machine, not only in this notebook.
- Open a new terminal
- Go to your home folder `cd`
- Launch an `ipython` session
- Test the two lines of code above

🏁 If this works, congrats! Don't forget to commit & push this notebook as well as data.py