In [30]:
!ls

ceo_request.ipynb		    Deces_2020_M06.csv
deces_2019.csv			    Deces_2020_M06.csv:Zone.Identifier
deces-2019.csv:Zone.Identifier	    Deces_2020_M07.csv
deces_2020_m01.csv		    Deces_2020_M07.csv:Zone.Identifier
deces-2020-m01.csv:Zone.Identifier  README.md
Deces_2020_M02.csv		    Untitled.ipynb
Deces_2020_M02.csv:Zone.Identifier

In [81]:
import pandas as pd

In [82]:
df_2019 = pd.read_csv('deces_2019.csv', sep=';', error_bad_lines=False)

/home/florent/.pyenv/versions/3.8.5/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [83]:
df_2019.shape

(625372, 9)

In [74]:
df_2020 = pd.read_csv('deces_2020_M01.csv', sep=';', error_bad_lines=False)
df_feb = pd.read_csv('Deces_2020_M02.csv', sep=';', error_bad_lines=False)
test = pd.concat([df_2020, df_feb])

In [75]:
for i in range(2, 9):
    df_2020 = pd.concat([df_2020, pd.read_csv(f'Deces_2020_M0{i}.csv', sep=';', error_bad_lines=False)])

/home/florent/.pyenv/versions/3.8.5/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [66]:
df_2020 = pd.concat([df_2020, pd.read_csv('Deces_2020_M02.csv', sep=';', error_bad_lines=False)])
df_2020 = pd.concat([df_2020, pd.read_csv('Deces_2020_M06.csv', sep=';', error_bad_lines=False)])
df_2020 = pd.concat([df_2020, pd.read_csv('Deces_2020_M07.csv', sep=';', error_bad_lines=False)])
df_2020 = pd.concat([df_2020, pd.read_csv('Deces_2020_M08.csv', sep=';', error_bad_lines=False)])
df_2020 = pd.concat([df_2020, pd.read_csv('Deces_2020_M03.csv', sep=';', error_bad_lines=False)])

In [76]:
df_2020.shape

(437726, 9)

In [77]:
df_2020.loc[:, "death_month"] = df_2020["datedeces"].apply(lambda x: int(x/100))

In [79]:
df_2020[["sexe","death_month"]].groupby(by = "death_month", as_index=False).count().tail(10)

     death_month   sexe
208       201912  12902
209       202000      8
210       202001  57915
211       202002  51848
212       202003  63555
213       202004  67328
214       202005  49413
215       202006  46438
216       202007  46980
217       202008  38711

In [84]:
df_2019.loc[:, "death_month"] = df_2019["datedeces"].apply(lambda x: int(x/100))

In [85]:
df_2019[["sexe","death_month"]].groupby(by = "death_month", as_index=False).count().tail(12)

     death_month   sexe
390       201901  61147
391       201902  56462
392       201903  54331
393       201904  49719
394       201905  49672
395       201906  46992
396       201907  48670
397       201908  47566
398       201909  46595
399       201910  50703
400       201911  51812
401       201912  42695

In [86]:
df_2019[["sexe","death_month"]].groupby(by = "death_month", as_index=False).count().tail(12).sum()

death_month    2422878
sexe            606364
dtype: int64

In [88]:
df_2019.shape

(625372, 10)

In [90]:
df_2019[["sexe","death_month"]].groupby(by = "death_month", as_index=False).count().tail(20)

     death_month   sexe
382       201806    119
383       201807    169
384       201808    256
385       201809    280
386       201810    541
387       201811    989
388       201812  14563
389       201900     11
390       201901  61147
391       201902  56462
392       201903  54331
393       201904  49719
394       201905  49672
395       201906  46992
396       201907  48670
397       201908  47566
398       201909  46595
399       201910  50703
400       201911  51812
401       201912  42695